body {
    display: flex;
    justify-content: left;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
    background-color: #111317;
    font-family: Arial, sans-serif;
}

#counters {
    background-color: #111317;
    text-align: center;
    padding: 10px;
    border: 1px solid #59626c;
    width: 300px;
    height: 240px;
}

#bCounter {
    font-size: 2em;
    color: #fff;
}

#cashCounter {
    padding-top: 0px;
    font-size: 1.5em;
    color: #17811d;
}

#collect-btn {
    width: 300px;
    padding: 5px 10px;
    font-size: 1em;
    color: #fff;
    background-color: #59626c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#collect-btn:hover {
    background-color: #333;
}

#collect-btn:active {
    background-color: #808080;
}

#cashout-btn {
    margin-top: 10px;
    width: 300px;
    padding: 5px 10px;
    font-size: 1em;
    color: #fff;
    background-color: #59626c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#cashout-btn:hover {
        background-color: #333;
}

#cashout-btn:active {
        background-color: #808080;
}

#autoClickers {
    display: flex;
    background-color: #111317;
    text-align: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #59626c;
    width: 300px;
    height: 240px;
    margin-left: 5px;
}

#dataFarmerText {
    font-size: 1em;
    color: #fff;
}

#buyDFarmer1-btn {
    width: 50px;
    height: 30px;
    margin-left: 5px;
    color: #fff;
    background-color: #59626c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#buyDFarmer1-btn:hover {
    background-color: #333;
}
#buyDFarmer1-btn:active {
    background-color: #808080;
}

#buyDFarmer10-btn {
    width: 50px;
    height: 30px;
    margin-left: 5px;
    color: #fff;
    background-color: #59626c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#buyDFarmer10-btn:hover {
    background-color: #333;
}
#buyDFarmer10-btn:active {
    background-color: #808080;
}

#buyDFarmer100-btn {
    width: 50px;
    height: 30px;
    margin-left: 5px;
    color: #fff;
    background-color: #59626c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#buyDFarmer100-btn:hover {
    background-color: #333;
}
#buyDFarmer100-btn:active {
    background-color: #808080;
}